<h1 id="tableLabel">Clients</h1>

<p *ngIf="!clients"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="clients">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Phone Number</th>
      <th>Car Model</th>
      <th>Car Number</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let client of clients">
      <td>{{ client.id }}</td>
      <td>{{ client.name }}</td>
      <td>{{ client.phoneNumber }}</td>
      <td>{{ client.carModel }}</td>
      <td>{{ client.carNumber }}</td>
    </tr>
  </tbody>
</table>

  id: number;
  name: string;
  phoneNumber: string;
  carModel: string;
  carNumber: string;
  services: Service[];
